# .env.example - скопируйте в .env и заполните
GOOGLE_SHEET_ID=1ivcv6KWBoUENMuIP2UQfvmURri_DziLH8pNpsaf1uzE
CREDENTIALS_FILE=credentials.json
SHEET_NAME=Avito
MAX_PRICE=15000
MAX_PAGES=50
MAX_DAYS_AGE=3